{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Публикации
{% endblock title %}


{% block content %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <h1>Все новости</h1>
    <h3>Всего новостей {{ post|length}}</h3>
   {% if post %}
        <table>
           <tr>
               <td>
                   Название
               </td>
               <td>
                   Категории
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Содержание
               </td>
               <td>
                   Рейтинг
               </td>
           </tr>
            {% for post in post %}
               <tr>
                   <td>
                   <a href="{% url 'post_detail' post.id %}">{{ post.title|censor }}</a>
                   </td>
                   <td>
                       {% for cat in post.categories.all %}
                       <a href="{% url 'category_list' cat.id %}">{{cat.name }}</a>
                       {% endfor %}
                   </td>
                   <td>
                       {{post.created_at}}
                   </td>
                   <td>
                       {{post.text|truncatechars:50|censor}}
                   </td>
                   <td>
                       {{ post.content|truncatechars:20|censor}}
                   </td>
                   <td>
                       {{ post.rating }}
                   </td>
                   <td>
                   <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
                   <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
                   </td>
               </tr>
            {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<br><br>
{% if perms.news.add_post %}
<button> <a href="{% url 'post_edit' %}"><u>Опубликовать пост</u></a> </button>
{% else %}
<button> <a href="sign/upgrade/"> Стань автором, чтобы публиковать посты!</a> </button>
{% endif %}
{% endblock content %}
