{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<form action="/sign/logout/" method="post">

    {% csrf_token %}
    <input type="submit" value="Выйти">
</form>
<br>
{% if is_not_author %}
<button> <a href="sign/upgrade/"> Хочу стать автором!</a> </button>
{% endif %}

<button><a href="{% url 'account_logout' %}">Выйти</a></button>
{% endblock %}